name: CI

on:
    workflow_dispatch:
        inputs:
            os:
                description: "OS"
                required: true
                default: All
                type: choice
                options:
                    - All
                    - Linux
                    - macOS
                    - Windows
    pull_request:
        branches: ["*"]
        types: ["opened", "synchronize", "reopened"]
    push:
        branches: ["master"]
        tags: ["v[0-9]+.[0-9]+.[0-9]+", "**/v[0-9]+.[0-9]+.[0-9]+"]

permissions:
    contents: read

run-name: ${{ (github.event_name == 'workflow_dispatch' && format('Manual Run for {0} {1} {2}', github.event.inputs.os, github.ref_name, github.sha)) || (github.event_name == 'pull_request' && format('PR {0} {1}', github.event.number, github.sha)) || (github.event_name == 'push' && format('Push {0} {1}', github.ref, github.sha)) }}

jobs:
    # Always run on Linux (except on manual run for Windows/macOS)
    ci-linux:
        uses: ram-nad/go-monorepo/.github/workflows/go-ci.yml@2.0.0
        if: ${{ !((github.event_name == 'workflow_dispatch') && (inputs.os != 'Linux') && (inputs.os != 'All')) }}
        with:
            os: "Linux"
            min_go_version: "1.25.5"
            golangci_lint_version: "2.7.0"
    
    # Only manual run for Windows
    ci-windows:
        uses: ram-nad/go-monorepo/.github/workflows/go-ci.yml@2.0.0
        if: ${{ (github.event_name == 'workflow_dispatch') && ((inputs.os == 'Windows') || (inputs.os == 'All')) }}
        with:
            os: "Windows"
            min_go_version: "1.25.5"
            golangci_lint_version: "2.7.0"

    # Only manual run for macOS
    ci-macos:
        uses: ram-nad/go-monorepo/.github/workflows/go-ci.yml@2.0.0
        if: ${{ (github.event_name == 'workflow_dispatch') && ((inputs.os == 'macOS') || (inputs.os == 'All')) }}
        with:
            os: "macOS"
            min_go_version: "1.25.5"
            golangci_lint_version: "2.7.0"
